.home-container{
    margin-top: 4rem;
    padding-left: 16rem;
    padding-right: 16rem;
    padding-top: 4rem;
}
.utility-container{
    
    display: flex;
    column-gap: 4rem;
    justify-content: center;
   
}

$rhap_theme-color: #868686 !default;

$rhap_background-color: #4166f5 !default;