.slider-container{
    display: flex;
    flex-direction: column;
}
.slider-sub-container-1{
    display: flex;
    column-gap: 10px;
}
.slider-sub-container-2{
    display: flex;
    column-gap: 10px;
}
